{% extends "navigation.html" %}

{% block content %}
<h1>Yearly Breakdown</h1>
<div id="like_button_container"></div>
<br/>
{#
{{ debug }}
<br/>
#}
{% for yearly_breakdown in yearly_breakdowns %}
    <hr/>
    <h3>{{ yearly_breakdown.year }}</h3>
    <table>
        <tr>
            <td>Income:</td>
            <td align='right'>{{ "{0:.2f}".format( yearly_breakdown.income_total ) }}</td>
        </tr>
        <tr>
            <td>Expenses:</td>
            <td align='right'>{{ "{0:.2f}".format( yearly_breakdown.expense_total ) }}</td>
        </tr>
        <tr>
            <td>Delta:</td>
            <td align='right'>{{ "{0:.2f}".format( yearly_breakdown.income_total - yearly_breakdown.expense_total ) }}</td>
        </tr>
    </table>
    <canvas id="yearly_breakdown{{ yearly_breakdown.year }}" width="600" height="400"></canvas>
    <br/>
    <script>
      // bar chart data
      var barData = {
        labels : [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        datasets : [
          {
            fillColor: "rgba(0,255,0,0.2)",
            strokeColor: "rgba(0,255,0,1)",
            pointColor: "rgba(0,255,0,1)",
            data : [
              {% for monthly_income_total in yearly_breakdown.monthly_income_totals %}
                 "{{ monthly_income_total }}",
                {% endfor %}
              ]
          },
          {
            fillColor: "rgba(255,0,0,0.2)",
            strokeColor: "rgba(255,0,0,1)",
            pointColor: "rgba(255,0,0,0,1)",
            data : [
              {% for monthly_expense_total in yearly_breakdown.monthly_expense_totals %}
                 "{{ monthly_expense_total }}",
                {% endfor %}
              ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("yearly_breakdown{{ yearly_breakdown.year }}").getContext("2d");
       steps = {{ yearly_breakdown.overall_max / 1000 }}
       max = {{ yearly_breakdown.overall_max }}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
{% endfor %}
<h1>Monthly Breakdown</h1>
{% for monthly_breakdown in monthly_breakdowns %}
    <hr/>
    <h2>{{ monthly_breakdown.title }}</h2>
    <table>
        <tr>
            <td>Income:</td>
            <td align='right'>{{ "{0:.2f}".format( monthly_breakdown.income_total ) }}</td>
        </tr>
        <tr>
            <td>Expenses:</td>
            <td align='right'>{{ "{0:.2f}".format( monthly_breakdown.expense_total ) }}</td>
        </tr>
        <tr>
            <td>Delta:</td>
            <td align='right'>{{ "{0:.2f}".format( monthly_breakdown.income_total - monthly_breakdown.expense_total ) }}</td>
        </tr>
    </table>
    <canvas id="{{ monthly_breakdown.title }}" width="600" height="400"></canvas>
    <br/>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for distinct_expense in monthly_breakdown.distinct_expenses %}
           "{{ distinct_expense[ 'name' ] }}",
          {% endfor %}
        ],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for distinct_expense in monthly_breakdown.distinct_expenses %}
              "{{ distinct_expense[ 'total' ] }}",
            {% endfor %}
            ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("{{ monthly_breakdown.title }}").getContext("2d");
       steps = {{ monthly_breakdown.distinct_expenses_max / 1000 }}
       max = {{ monthly_breakdown.distinct_expenses_max }}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
    {#
    {{ monthly_breakdown.distinct_expenses }}
    <br/>
    max: {{ monthly_breakdown.distinct_expenses_max }}
    #}
    <h3>Expenses (${{ "{0:.2f}".format( monthly_breakdown.expense_total ) }})</h3>
    <table id="table_{{ monthly_breakdown.title }}">
        <tr>
            <th>bucket</th>
            <th>total</th>
        </tr>
        {% for distinct_expense in monthly_breakdown.distinct_expenses %}
            <tr id="{{ distinct_expense.name }}_row" onclick="expand_collapse( 'collapsable_{{ monthly_breakdown.title + distinct_expense.name }}', 'table_{{ monthly_breakdown.title }}' )">
                <td>{{ distinct_expense.name }}</td>
                <td align='right'>{{ "{0:.2f}".format( distinct_expense.total ) }}</td>
            </tr>
            
            {% for bucketed_transaction in monthly_breakdown.bucketed_transactions[ distinct_expense.name ] %}
                <tr name="collapsable_{{ monthly_breakdown.title + distinct_expense.name }}">
                    <td>- {{ bucketed_transaction.description }}</td>
                    <td align='right'>{{ "{0:.2f}".format( bucketed_transaction.amount ) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <h3>Income (${{ "{0:.2f}".format( monthly_breakdown.income_total ) }})</h3>
    <table id="">
        <tr>
            <th>bucket</th>
            <th>total</th>
        </tr>
        {% for distinct_income in monthly_breakdown.distinct_incomes %}
        <tr>
            <td>{{ distinct_income.name }}</td>
            <td align='right'>{{ "{0:.2f}".format( distinct_income.total ) }}</td>
        </tr>
        {% endfor %}
    </table>
    {#
    <h3>Transactions: {{ monthly_breakdown.transactions|length }}</h3>
    <table>
        <tr>
            <th>instance</th>
            <th>bucket</th>
            <th>bucket_status</th>
            <th>account</th>
            <th>date</th>
            <th>amount</th>
            <th>description</th>
        </tr>
        {% for transaction in monthly_breakdown.transactions %}
        <tr>
            <td>{{ transaction.instance }}</td>
            <td>{{ transaction.bucket }}</td>
            <td>{{ transaction.bucket_status }}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
        </tr>
        {% endfor %}
    </table>
    #}
{% endfor %}
<h2>done</h2>
<script>
    window.onload = function() {
        var rows = document.getElementsByTagName( "tr" );
        for( var index = 0; index < rows.length; index++ ) {
            if( rows[index].getAttribute( "name" ) ) {
                if( rows[index].getAttribute( "name" ).startsWith( "collapsable_" ) ) {
                    rows[index].style.display = "none";
                }
            }
        }
    }

    function expand_collapse( _elementsName, _tableId ) {
        var elements = document.getElementsByName( _elementsName );
        for(var j = 0; j< elements.length;j++){
            var currentState = elements[j].style.display;
            if( currentState=="none"){
                elements[j].style.display="block";
            }
            else {
                elements[j].style.display="none";
            }
        }
        //var table = document.getElementById( _tableId );
        //table.refresh();
        //table.style.display="none";
    }
</script>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<!--
<script src="like_button.js"></script>
-->
<script src="{{ url_for( 'static', filename='like_button.js' ) }}"></script>
{% endblock %}

