{% extends "navigation.html" %}

{% block content %}
<h1>Debug</h1>
<form action="http://localhost:5000/debug-initialize-database" method="post">
    <button name="debug_initialize_database_button" value="debug_initialize_database_button">Initialize Database</button>
</form>
<form action="http://localhost:5000/debug-remove-all-transactions" method="post">
    <button name="debug_remove_all_transactions_button" value="debug_remove_all_transactions_button">Remove All Transactions</button>
</form>
<h2>Misc</h2>
Transactions Removed: {{ transactions_removed_count }}<br/>
<h1>Transactions ({{ transactions|length }})</h1>
<table>
    <tr>
        <th>instance</th>
        <th>bucket</th>
        <th>bucket_status</th>
        <th>account</th>
        <th>date</th>
        <th>amount</th>
        <th>description</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.instance }}</td>
        <td>{{ transaction.bucket }}</td>
        <td>{{ transaction.bucket_status }}</td>
        <td>{{ transaction.account }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

